[Unit]
Description=Freakin' Awesome Dynamic DNS Client
After=network.target
Wants=network.target

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/bin/faddnsc
Restart=on-failure

[Install]
WantedBy=multi-user.target
